@model IEnumerable<StarWars.Core.Entities.People>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h1>People Of Star Wars</h1>

<div>
    <a class="btn btn-primary" asp-action="GetByGender" asp-route-gender="male">Male</a>
    <a class="btn btn-primary" asp-action="GetByGender" asp-route-gender="female">Female</a>
    <a class="btn btn-primary" asp-action="GetByGender" asp-route-gender="n/a">N/A</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Gender:
            </th>

            <th>
                Home World:
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td style="text-transform: capitalize;">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="text-transform: capitalize;">

                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td style="text-transform: capitalize;">

                    @Html.DisplayFor(modelItem => item.homeworld)
                </td>


                <td>
                    @Html.ActionLink("Details", "Detail", new {id= i})
                </td>
            </tr>
        }
    </tbody>
</table>
